

<% def render_intent(intent, form) %>
  <% if intent.q_key == "root" %>
    <% intent.child_intents.each do |i| %>
        <% render_intent(i, form) %>
    <% end %>
  <% else %>
    <% if intent.is_pipeline == false %>
      <%= render "answer_form", answer: intent.answer , form: form %>
      <% intent.child_intents.each do |i| %>
        <% render_intent(i, form) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<div class="form_wrapper">
  <%= image_tag "logo-colored.png", class: "banner" %>
  <h1>Update bot</h1>
  <h3><%= @root_intent.q_string %></h3>
  <%= simple_form_for @root_intent.answer, url: page_path(@root_intent.answer), method: :patch do |f| %>
    <% if @root_intent.answer.name %>
      <%= f.input :name %>
    <% end %>

    <% if @root_intent.answer.title %>
      <%= f.input :title %>
    <% end %>

    <% if @root_intent.answer.subtitle %>
      <%= f.input :subtitle %>
    <% end %>

    <% if @root_intent.answer.message %>
      <%= f.input :message, as: :text %>
    <% end %>

    <% if @root_intent.answer.location %>
      <%= f.input :location %>
    <% end %>

    <% if @root_intent.answer.time %>
      <%= f.input :time %>
    <% end %>

    <% if @root_intent.answer.price %>
      <%= f.input :price, as: :integer, input_html: { min: '0'} %>
    <% end %>

    <% if @root_intent.answer.url %>
      <%= f.input :url %>
    <% end %>

    <% if @root_intent.answer.description %>
      <%= f.input :description %>
    <% end %>

    <% if @root_intent.answer.duration %>
      <%= f.input :duration %>
    <% end %>

    <% render_intent(@root_intent, f) %>

    <%= f.submit 'Save' %>
  <% end %>
</div>
